.container {
  border-radius: 200px;
  background-color: #DA0042;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
  margin-right: 12px;
}

.container:hover {
  cursor: pointer;
}

.logo {
  height: 100px;
  width: 100px;
}

.label {
  position: absolute;
  font-weight: bold;
  top: -55%;
  font-size: 12px;
  color: black;
}
